---
import RegisterForm from "../../components/auth/RegisterForm";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Регистрация" pageName="register">
  <div class="container">
    <div class="page mt-5">
      <h1>Register</h1>
      <RegisterForm />
    </div>
  </div>
</Layout>