// Colors
$black: #000;
$white: #fff;
$gray: #f5f5f5;

// Text colors
$text-primary: #212121;
$text-secondary: #979797;

// Shadows
$shadow-border: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$shadow-xs: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
$shadow-sm: rgba(0, 0, 0, 0.04) 0px 3px 5px;
$shadow-md: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
$shadow-lg: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Border-radius
$border-radius-base: 5px;
$border-radius-large: 1.2rem;

// Screens
$tablet-bp: 991px;
$mobile-bp: 575px;