@import '/src/styles/vars';

.card {
  height: 100%;
  box-shadow: $shadow-sm;
  cursor: inherit;

  &:hover {
    box-shadow: $shadow-md !important;
  }

  &__image {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: contain;
    margin-top: 1rem;
  }

  &__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.25;
    height: 5.2rem;
    margin-top: 1rem;
    background: linear-gradient(180deg, transparent, #fff 50%);
    color: darken($gray, 20%);
    cursor: default;
    transition: all .2s ease-in-out;
  }

  &__actions {
    margin-top: 2.4rem;
  }
}