---
import Layout from '../layouts/Layout.astro';
import AboutCard from '../components/about/AboutCard'
---

<Layout title="About us." pageName="about">
		<div class="container mt-5 page">
				<h1>About page</h1>
				<AboutCard />
		</div>
</Layout>
