---
import AppNavigation from "../components/app/AppNavigation";
import "antd/dist/reset.css";
import "/src/styles/main.scss";
import CartDrawer from "../components/cart/CartDrawer";

export interface Props {
  title: string;
	pageName: string;
}

const { title, pageName } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Metronic -->
    <!-- <link rel='stylesheet' href="/assets/plugins/global/plugins.bundle.css" type="text/css" />
		<link rel='stylesheet' href="/assets/css/style.bundle.css" type="text/css" /> -->
    <!-- <script is:inline src="/assets/plugins/global/plugins.bundle.js" />
		<script is:inline src="/assets/js/scripts.bundle.js" /> -->
    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <AppNavigation pageName={pageName} />
      </div>
    </header>
    <main>
      <slot />
    </main>
    <CartDrawer client:load />
    <footer class="footer">
      <div class="container">
				<div class="footer__content">
					2022
				</div>
			</div>
    </footer>
  </body>
</html>
<style lang="scss" is:global>
  @import "/src/styles/_vars.scss";

  .header {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
    height: 4.8rem;
    background: $white;
    box-shadow: $shadow-md;
  }

  main {
    flex: 1 0 auto;
  }

  .footer {
    flex: 0 0 auto;

    &__content {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .page {
    padding: 3.2rem;
    border-radius: $border-radius-large;
    background-color: $white;
		box-shadow: $shadow-sm;
		min-height: 75vh;
  }
</style>
